@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #111827;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-table > div {
  background-color: #1f2937;
}

.custom-table > div > table > thead > tr > th {
  background-color: #374151;
  color: #111827;
}
